<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="com.lwjb.tour.models.User" alias="User"/>
		<typeAlias type="com.lwjb.tour.models.Shop" alias="Shop"/>
		<typeAlias type="com.lwjb.tour.models.Order" alias="Order"/>
		<typeAlias type="com.lwjb.tour.models.Item" alias="Item"/>
	</typeAliases>
</configuration>